body {
	background-image: url(space2.jpg);
	background-position: center;
	position: block;
	text-align: center;
	color: white;
}

div#page1 {
	background-color: rgba(0, 0, 0, .5);
	padding: 20px;
	width: 700px;
	margin: 50px auto;
}

#gameboard {
	width: 43.5%;
	margin: 10px auto;
	margin-top: 30px;
	align-content: center;
}

table {
	margin: -2px;
	padding: -2px;
}

tr {
	margin: -2px;
	padding: -2px;
}

td {
	border: 8px solid rgb(200, 200, 200);
	margin: 0;
	padding: 0;
	height: 60px;
	width: 60px;
}

tr#row7 td {
	border: none;
	height: 40px;
}

.chip1 {
	background-color: red;
}

.chip2 {
	background-color: blue;
}

h3 {
	width: 200px;
	margin: 0 auto;
	border-radius: 5px;
}

h3.chip1 {
	color: red;
	background-color: rgb(200, 200, 200);
}

h3.chip2 {
	color: blue;
	background-color: rgb(200, 200, 200);
}

h1 {
	margin: 0 auto;
	font-family: Bungee Outline, arial;
	font-size: 62px;
	padding: 20px;
}

p {
	font-family: Bungee Inline, arial;
	width: 600px;
	margin: 0 auto;
	text-align: justify;
	padding: 20px;
	font-size: 18px;
}

#playNow {
	height: 40px;
	width: 200px;
	padding: ;
	margin: 15px auto;
	border-radius: 10px;
	border: ;
	font-size: 16px;
	background-color: rgb(255, 160, 0);
	color: white;
}

#resetGame {
	margin-top: 20px;
	height: 25px;
	width: 125px;
	border-radius: 5px;
	background-color: white;
}