body {
	background-image: url(space2.jpg);
	background-position: center;
	position: block;
	text-align: center;
	color: white;
}

/* div that contains the content of page 1 */
div#page1 {
	background-color: rgba(0, 0, 0, .5);
	padding: 20px;
	width: 700px;
	margin: 50px auto;
}

#gameboard {
	width: 43.6%;
	margin: 10px auto;
	margin-top: 30px;
	align-content: center;
}

/* squares on the game board */
td {
	border: 8px solid rgb(200, 200, 200);
	margin: -2px;
	padding: 0;
	height: 60px;
	width: 60px;
}

/* place chip buttons on page 2 */
tr#row7 td {
	border: none;
	height: 40px;
}

/* creates the "chips" */
.chip1 {
	background-color: red;
}

.chip2 {
	background-color: blue;
}

/* h3 element indictates who is up */
h3 {
	width: 200px;
	margin: 0 auto;
	border-radius: 5px;
	font-family: Bungee Inline, arial;
}

h3.chip1 {
	color: red;
	background-color: rgb(200, 200, 200);
}

h3.chip2 {
	color: blue;
	background-color: rgb(200, 200, 200);
}

/* big RGC4 lettering on page 1 */
h1 {
	margin: 0 auto;
	font-family: Bungee Outline, arial;
	font-size: 62px;
	padding: 20px;
}

/* instructions on page 1 */
p {
	font-family: Bungee Inline, arial;
	width: 600px;
	margin: 0 auto;
	text-align: justify;
	padding: 20px;
	font-size: 18px;
}

/* button on page 1 */
#playNow {
	height: 40px;
	width: 200px;
	margin: 15px auto;
	border-radius: 8px;
	font-size: 16px;
	background-color: rgb(255, 160, 0);
	color: white;
	border-color: rgb(200, 200, 200);
}

/* buttons for page 2 */
.placeButton, #resetGame {
	background-color: white;
	border: 2px solid rgb(200, 200, 200);
	border-radius: 5px;
	border-style: outset;
	font-family: Bungee Inline, arial;
	color: black;
}

#resetGame {
	margin-top: 20px;
	height: 25px;
	width: 125px;

}

.placeButton {

}