body {
	background-color: gray;
	position: block;
	text-align: center;
}

#gameboard {
	width: 50%;
	margin: 0 auto;
}

td {
	border: 8px solid white;
	height: 60px;
	width: 60px;
}

tr#row7 td {
	border: none;
}

.chip {
	background-color: black;
}